
body, html {
    margin: 0;
    background-color: white
  }
  
  body {
    height: inherit;
    overflow: auto;
    margin: 0 auto;
  }
  
  h1, p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }

  .container {
    text-align: center;
  }

  div {
    overflow: auto;
    position: relative;
    background-color: rgba(255,255,255,0.2);
  }
  
  ul {
    margin: 0;
  }
  
  .hints span {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

  .center {
    display: block;
    margin: 0 auto;
  }
