
body, html {
    margin: 0;
    background-color: white
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: inherit;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }

  .container {
    text-align: center;
  }

  div {
    height: 100px;
    overflow: auto;
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
  }
  
  ul {
    margin: 0;
  }
  
  .hints span {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

  #btnGiveCommand {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }